<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <a href="/tags">See all the tags!</a>
    <h2>Posts</h2>
    {% for post in posts %}
      <h3>Title: {{ post.title }}</h3>
      <h5>Tags:
      {% for tag in post.get_tags() %}
         {{ tag.name }},
      {% endfor %}
    </h5>
      <h5>{{ post.date.strftime("%d/%m/%y") }}</h5>
      <p>{{ post.content }}</p>
      {% for comment_key in post.comment_keys %}
        <h3>Commenter: {{ comment_key.get().name }}</h3>
        <!-- <h5> comment_key.date.strftime("%d/%m/%y") }}</h5> -->
        <p>{{ comment_key.get().comment }}</p>
      {% endfor %}
      <form action="/comments" method="post">
        <div>Name: <input name="name"></input></div>
        <div>Comment: <textarea name="comment" rows="2" cols="40"></textarea></div>
        <div><input type="hidden" name="post_url_key" value="{{ post.key.urlsafe() }}">
        <div><input type="submit" value="Comment"></div>
      </form>
      <hr>

      <form action="/tags" method="post">
        <div>Tag Name: <input name="name"></input></div>
        <div><input type="hidden" name="post_url_key" value="{{ post.key.urlsafe() }}">
        <div><input type="submit" value="Make Tag"></div>
      </form>
      <hr>
    {% endfor %}

    <form action="/" method="post">
      <div>Name: <input name="name"></input></div>
      <div>Content: <textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Add Post"></div>
    </form>
  </body>
</html>
{% endautoescape %}
